# 1. Duplicates analysis

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('../../data/tweets.csv')

Check duplicated rows

In [2]:
df.duplicated().sum()   # 36 duplicated entries on both tweet_text and cyberbullying_type

36

In [3]:
df[df.duplicated(keep=False)]       # Duplicated with equal tweet_text and equal cyberbullying_type     (DROP)

                                              tweet_text cyberbullying_type
829    Our pancakes are selling like hotcakes Shaz - ...  not_cyberbullying
1712   This is the opportunity to prove ourselves lik...  not_cyberbullying
1758   Our pancakes are selling like hotcakes Shaz - ...  not_cyberbullying
1984   @TVWEEKmag: There is only 1 way to stay in the...  not_cyberbullying
2611   It wouldn't be fair. Kat knows NOTHING of fair...  not_cyberbullying
...                                                  ...                ...
20604  A Pakistani court has sentenced 86 members of ...           religion
41403  Still, Davis, who is gay, said he pays a socia...          ethnicity
46915  Racism won't stop as long as u stil select ur ...          ethnicity
46962  Still, Davis, who is gay, said he pays a socia...          ethnicity
47397  Racism won't stop as long as u stil select ur ...          ethnicity

[72 rows x 2 columns]

In [4]:
df = df.drop_duplicates()

In [5]:
df.to_csv(r"../../data/updated_tweets.csv", index=False)

### Now, we also observe tweets that are identical in tweet text but differ in cyberbullying type

In [6]:
d = df[df.duplicated(subset=['tweet_text'], keep = False)]      
d

                                              tweet_text cyberbullying_type
3      @Jason_Gio meh. :P  thanks for the heads up, b...  not_cyberbullying
8           @stockputout everything but mostly my priest  not_cyberbullying
17     @0xabad1dea @kelseytheodore2 twitter is basica...  not_cyberbullying
24     Wishing my arena partner was on. &gt;.&gt;  Re...  not_cyberbullying
27     @gcarothers eek. i can't stand split keyboards...  not_cyberbullying
...                                                  ...                ...
41356  @YTM1staWu1fy Sweden, man.  The Swedish men ar...          ethnicity
44474  @GarrettaBrown85 @5Candrew Why do people even ...          ethnicity
45718  @SFtheWolf @max2000warlord people confuse empa...          ethnicity
46360  RT @AntonioFrench: I spent the morning at the ...          ethnicity
46556  He can't be a server at our restaurant, that b...          ethnicity

[3278 rows x 2 columns]

In [7]:
d[d['cyberbullying_type']=='religion']

                                              tweet_text cyberbullying_type
15961  You're not going to get the response you're lo...           religion
16146  @moderncomments Liberals suddenly consider ISI...           religion
17483  RT @AntonioFrench: I spent the morning at the ...           religion
20109  He can't be a server at our restaurant, that b...           religion
20535  @GarrettaBrown85 @5Candrew Why do people even ...           religion
22994  RT @harikondabolu: In his #Ferguson testimony,...           religion

In [8]:
d[d['cyberbullying_type']=='ethnicity']

                                              tweet_text cyberbullying_type
40015  RT @harikondabolu: In his #Ferguson testimony,...          ethnicity
41174            @freebsdglrI awww. someone's mad. &lt;3          ethnicity
41356  @YTM1staWu1fy Sweden, man.  The Swedish men ar...          ethnicity
44474  @GarrettaBrown85 @5Candrew Why do people even ...          ethnicity
45718  @SFtheWolf @max2000warlord people confuse empa...          ethnicity
46360  RT @AntonioFrench: I spent the morning at the ...          ethnicity
46556  He can't be a server at our restaurant, that b...          ethnicity

In [9]:
d[d['tweet_text'] == "@stockputout everything but mostly my priest"]

                                         tweet_text   cyberbullying_type
8      @stockputout everything but mostly my priest    not_cyberbullying
31583  @stockputout everything but mostly my priest  other_cyberbullying

In [10]:
d[d['tweet_text'] == "@Jason_Gio meh. :P  thanks for the heads up, but not too concerned about another angry dude on twitter."]

                                              tweet_text   cyberbullying_type
3      @Jason_Gio meh. :P  thanks for the heads up, b...    not_cyberbullying
28158  @Jason_Gio meh. :P  thanks for the heads up, b...  other_cyberbullying

#### From observing the outputs, we have understood that there are duplicates like these because messages can be tagged with different types; thus, they are not errors, and we do not drop them